# Ignore node modules for all projects
**/node_modules

# Ignore environment files
**/.env

# Ignore log files
**/*.log

# Ignore log directories
**/logs


# Ignore build directories
**/dist
**/build

# Ignore IDE/editor config files
**/.vscode/
**/.idea/
